body {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

.jobLogo {
    height: 60px;
    width: 60px;
    border-radius: 15px;
    object-fit: contain;
}

.header {
    background-color: rgb(229, 234, 240);
}

.scroll-text {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    font-weight: bold;
    color: #0d6efd;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.mainImg {
    background-image: url('https://www.bmwgroup.jobs/ca/en/jobs/_jcr_content/main/image.coreimg.jpeg/1718800796109/bmw-careers-canada-jobs-hd.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    width: 100%;
}

@media (max-width:768px) {
    .mainImg {
        height: 60vh;

    }
}

@media (min-width:480px) {
    .mainImg {
        height: 50vh;
        background-position: top;
    }
}

.login-background {
    width: 100%;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1517245386807-bb43f82c33c4") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Dark overlay */
    position: relative;
}

.login-background::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(3px);
    z-index: 0;
}

.login-box {
    background: white;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    z-index: 1;
    border: 2px solid gray;
}

.RegContainer {
    position: relative;
    background: url('https://images.unsplash.com/photo-1593062096033-9a26b09da705?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d29yayUyMGRlc2t8ZW58MHx8MHx8fDA%3D');
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}


.personType {
    width: 180px;
    background-color: rgb(24, 147, 182);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.personType option {
    color: rgb(218, 142, 28);
    background-color: white;
    font-weight: bolder;
}

.offer {
    width: 80px;
    background-color: coral;
    margin-left: 0px;
    border-radius: 10%;
    text-align: center;
}

.bordered {
    margin: 0;
}

.userImage {
    position: relative;
    background: url('https://gocleary.com/wp-content/uploads/2022/09/shutterstock_414963955-1024x604-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.regImage {
    position: relative;
    background: url('https://t3.ftcdn.net/jpg/02/94/52/66/360_F_294526635_8Fc9IbBHWOC83JsiFNRNx5VivafEjiyi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.loginBox {
    position: absolute;
    top: 15%;
    left: 33%;
    border-radius: 25px;
    box-shadow: 0 0 20px 5px #969b9b;
    animation: glow 2s infinite ease-in-out;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px 2px #888a8a;
        ;
    }

    50% {
        box-shadow: 0 0 25px 8px #888b8b;
    }

    100% {
        box-shadow: 0 0 10px 2px #cacece;
    }
}

@media (max-width: 992px) {
    .loginBox {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        padding: 20px;
        height: auto;
    }

    .loginBox form {
        width: 100%;
    }

    .loginBox .row {
        flex-direction: column;
        /* stack label + input */
        align-items: flex-start;
    }

    .loginBox .col-md-5,
    .loginBox .col-md-6 {
        width: 100%;
    }

    .loginBox label {
        margin-bottom: 5px;
        font-size: 14px;
    }

    .loginBox input,
    .loginBox button {
        width: 100%;
        font-size: 14px;
    }
}

/* For very small screens (mobile portrait) */
@media (max-width: 576px) {
    .loginBox {
        width: 90%;
        padding: 15px;
    }

    .loginBox h4 {
        font-size: 18px;
    }

    .loginBox .form-label {
        font-size: 13px;
    }
}