.userImage {
    background: url('https://previews.123rf.com/images/peshkova/peshkova1801/peshkova180100143/92719255-handshake-on-abstract-city-background-teamwork-and-meeting-concept-double-exposure.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}