.bg-form {
    background: url('https://static.vecteezy.com/system/resources/thumbnails/022/224/993/small_2x/simple-curve-background-for-business-with-space-for-text-free-vector.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}